.dark {
    background-color: #1f2937;
}
header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;

}
h1 {
    display: flex;    
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
    margin-bottom: 0px;
}
.below {
    font-size: 18px;
    color:#f9faf8;
    display: flex;
    padding-left: 25px;
    margin-top: 0px;
    max-width: 500px;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 0;
    margin-left: 25px;
    border-radius: 35px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 7px;
    font-weight: bold;
    


}
.phrase {
    display:flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
}
    
.dog {
    display: flex;
    justify-content: right;
    padding-right: 150px;
    padding-bottom: 50px;
    margin-top: 0;
}
.group {
    display:flex;
    justify-content: space-between;
}


a:link {color: #e5e7eb;}
a:visited {color: #e5e7eb;}
a:hover {color: #e5e7eb;}
a:active {color: #e5e7eb;}


.links {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin:auto;
    


}
ul { list-style: none;
    display: flex;
    margin: 0;
    gap: 10px
}
